# Specialization Exercises

### Exercise 1

Create a function that takes a list of numbers of input and a value. It should return the number of numbers less than the value and greater and equal than the value.

Example
- Input: `[1, 2, 3, 4, 5, 6]`, `4` output: `3`, `3`
- Input: `[1, 2, 3, 4, 5, 6, 7, 8]`, `4` output: `3`, `5`

In [1]:
def my_func(numbers, value):
    no_less_than = 0
    no_greater_eq = 0
    
    for number in numbers:
        if number < value:
            no_less_than += 1
        else:
            no_greater_eq += 1
            
    return no_less_than, no_greater_eq

In [2]:
my_func([1, 2, 3, 4, 5, 6], 4)

(3, 3)

In [3]:
my_func([1, 2, 3, 4, 5, 6, 7, 8], 4)

(3, 5)

### Exercise 2

Create a function that returns the sales representant with the highest sale.

Input
```Python
sales_reps = ['Jimmy', 'Anna', 'Jack', 'Matilde']
sale = [1000, 2000, 1500, 2300]
```

Output: `Matilde`, `2300`

The function should take the two lists as input and return output as specified.
- You can assume the lists are of same length.

In [4]:
def highest_sale_rep(sales_rep, sale):
    highest_sale_rep = ''
    highest_sale = 0
    
    for sale_rep, sale_value in zip(sales_rep, sale):
        if sale_value > highest_sale:
            highest_sale_rep = sale_rep
            highest_sale = sale_value
            
    return highest_sale_rep, highest_sale

In [5]:
highest_sale_rep(
    ['Jimmy', 'Anna', 'Jack', 'Matilde'], 
    [1000, 2000, 1500, 2300]  
)

('Matilde', 2300)