# Nested Dictionaries / NICE-TO-KNOW

### What is a nested dict in Python?

A dictionary containing dictionaries.

```Python
d = {'key-1': {'nested-key-1': 'value', 'nested-key-2': 'another value'}}
```

In [2]:
d = {
    'key-1': {
        'nested-key-1': 'value', 
        'nested-key-2': 'another value'
    }
}

In [3]:
d['key-1']['nested-key-2']

'another value'

### A common usecase

#### What is tabular data?
Tabular data refers to data that is organized in a table with rows and columns.

| First name | Last name |Â Age |
|--:|--:|---|
|Hanna|Hanson|23|
|Cole|Coleman|32|
|James|Presley|41|


```Python
records = [
    {'First name': 'Hanna', 'Last name': 'Hanson', 'Age': 23},
    {'First name': 'Cole', 'Last name': 'Coleman', 'Age': 32},
    {'First name': 'James', 'Last name': 'Presley', 'Age': 41},    
]
```

In [4]:
records = [
    {'First name': 'Hanna', 'Last name': 'Hanson', 'Age': 23},
    {'First name': 'Cole', 'Last name': 'Coleman', 'Age': 32},
    {'First name': 'James', 'Last name': 'Presley', 'Age': 41},    
]

In [5]:
type(records)

list

In [9]:
records[2]['First name']

'James'